alembic==0.8.8
Flask==0.10.1
Flask-Cors==3.0.2
Flask-Migrate==2.0.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
functools32==3.2.3.post2
gevent==1.0.2
greenlet==0.4.7
itsdangerous==0.24
Jinja2==2.7.3
jsonschema==2.5.1
Mako==1.0.4
MarkupSafe==0.23
PyMySQL==0.7.9
python-editor==1.0.1
requests==2.7.0
six==1.10.0
SQLAlchemy==1.1.1
Werkzeug==0.10.4
wheel==0.24.0
Gunicorn==19.7
mysql-python==1.2.5